[Unit]
Description=Systemd user fix
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/systemd-user-fix.sh

[Install]
WantedBy=last-services.target
